<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring的默认配置文件名称为applicationContext.xml，也可以改成其他名称
     根元素是beans,Spring的所有都是使用bean来完成的
   使用的schema是spring-beans-4.0.xsd  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


	<!-- 
	Spring定义了类ResourceBundleMessageSource完成国际化功能
	使用message作为资源文件，spring会根据机器环境查找对应的国际化文件
	 -->
	 <bean id="messageSource" 
	class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>message</value>
			</list>
		</property>
	</bean>
    
   <bean id="user" class="org.fkjava.domain.User">
   		<property name="name" value="周杰伦"/>
   </bean>
    
</beans>






