<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fkjava.mapper.UserMapper">
  <!-- resultType:返回的数据类型
                假设表中的列名与实体bean中的属性名不一致，需要做字段映射
   -->
   <select id="getUserById"  resultType="User">
        select * from tb_user where id = #{id};
   </select>
   
   
   	<!-- 根据用户名以及密码获取用户信息 -->
   	<!-- resultType:返回的数据类型
                假设表中的列名与实体bean中的属性名不一致，需要做字段映射
   -->
   <select id="getUserByNameAndPass" resultMap="userMapper">
        select * from tb_user where login_name = #{name} and password = #{password}
   </select>
   
   
   <!-- 实现字段映射 -->
   <resultMap type="User" id="userMapper">
        <result column="login_name" property="loginname"/>
        <result column="user_name" property="username"/>
   </resultMap>
   
   <!-- 根据用户id删除用户信息 -->
   <delete id="deleteUserById">
      delete from tb_user where id = #{id}
   </delete>
   
   <!-- 保存用户信息 -->
   <insert id="insertUser">
      insert into tb_user(login_name,user_name,password) values(#{loginname},#{username},#{password});
   </insert>
   
   
   <!-- 更新用户信息 -->
   <update id="updateUser">
      update tb_user SET user_name = #{name} WHERE id = #{id};
   
   </update>
   
   
   
  

</mapper>